@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-50;
}

a:focus, button:focus, input:focus {
    outline: none;
}

button:disabled {
    opacity: 0.5;
    pointer-events: none;
}

table {
    @apply w-full;
}

thead tr {
    @apply bg-gray-500;
    @apply text-white;
}

tbody tr {
    @apply bg-gray-100;
}
tbody tr:nth-child(odd) {
    @apply bg-gray-200;
}
tbody tr:hover {
    @apply bg-gray-300;
}

th, td {
    @apply align-top;
    @apply px-2;
    @apply py-1;
    @apply text-left;
}

th {
    @apply capitalize;
}
